main.main_container  
    .main_container-carts
        +item(5,"Moon Fever", "$456" , "So what are these strange lights in the sky? Are they aliens invading from Mars? Are the comets coming to start the next ice age?")
        +item(3,"Space The Final Frontier", "$87" , "Usually the astronomy magazine or site will give you a general time and location to be ready to look when the meteoroids start to fall.")
        +item(4,"Moon Gazing", "$200" , "Comets are a big source of meteoroids because of the nature of those long tails. A large amount of dust, ice and other space debris.")        
    .title 
      h1 Portfolio
    .subTitle 
      p king_ernser@sigurd.biz
    .canvas
      canvas#myChart(width='500px')